
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    @using(Html.BeginForm("Process", "UploadFile", FormMethod.Post, new { enctype = "multipart/frm-data" }))
    {
        <table cellpadding="2" cellspacing="2">
            <tr>
                <td>Photo</td>
                <td><input type="file" name="photo"/></td>
            </tr>
            <tr>
                <td>&nbsp;</td>
                <td><input type="submit" value="Upload" /></td>
            </tr>
        </table>
    }
</body>
</html>
