
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Success</title>
</head>
<body>
    <img src="~/Content/Images/@ViewBag.fileName" width="120" height="100"/>
</body>
</html>
